<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Tais - Assistente Virtual da Cultura{% endblock %}</title>
		<meta name="description" content="TAIS (Tecnologia de Aprendizado Interativo do Salic)">

		{% load static %}

		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=latin-ext" rel="stylesheet">

		{% load bootstrap4 %}

		{% bootstrap_css %}
		{% bootstrap_javascript jquery='full' %}

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>

	<body>
		<main>
      {% if user.is_authenticated %}
				<div id="topbar-collapsed" style="display: flex;">
					<img id="icon-collapsed" src="{% static 'img/avatar.jpg' %}" />
					<div id="description-collapsed" class="title-collapsed">
						<p>Assistente Virtual da Secretaria Especial da Cultura</p>
					</div>
					<button type="button" class="btn btn-outline-dark" id="btLogout" onclick="location.href='{% url 'logout'  %}'">Sair</button>
				</div>
			{% else %}
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<div id="avatar">
							<img src="{% static 'img/avatar.jpg' %}" />
						</div>
						<h1 class="display-3">Taís</h1>
						<h2>Assistente Virtual da Secretaria Especial da Cultura</h2>
					</div>
				</div>
			{% endif %}


			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
