<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Tais - Assistente Virtual da Cultura{% endblock %}</title>
		<meta name="description" content="TAIS (Tecnologia de Aprendizado Interativo do Salic)">

		{% load static %}

		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=latin-ext" rel="stylesheet">

		{% load bootstrap4 %}

		{% bootstrap_css %}
		{% bootstrap_javascript jquery='full' %}

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>

	<body>
		<main>
      {% if user.is_authenticated %}
				<div id="topbar-collapsed" style="display: flex;">
					<img id="icon-collapsed" src="{% static 'img/Tdetais.svg' %}" />
					<div id="description-collapsed" class="title-collapsed">
						<p>Visualização de Dados: Tais-Usuário</p>
					</div>
					<div class="btn-group" style="margin-left: auto" >
					  <button class="btn dropdown-collapsed" data-toggle="dropdown">
					    <i class="fa fa-th-list btn "></i>
					  </button>
					  <div class="dropdown-menu dropdown-menu-right">
							<p id="subtitle-dropdown">Dashboards</p>
					    <a class="dropdown-item" href="#">Perfil de Usuário</a>
					    <a class="dropdown-item" href="#">Trending</a>
					    <div class="dropdown-divider"></div>
					    <a class="dropdown-item" onclick="location.href='{% url 'logout'  %}'">Sair</a>
					  </div>
					</div>
				</div>
			{% else %}
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<div id="avatar">
							<img src="{% static 'img/avatar.jpg' %}" />
						</div>
						<h1 class="display-3">Taís</h1>
						<h2>Assistente Virtual da Secretaria Especial da Cultura</h2>
					</div>
				</div>
			{% endif %}


			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
