<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Tais - Assistente Virtual da Cultura{% endblock %}</title>
		<meta name="description" content="TAIS (Tecnologia de Aprendizado Interativo do Salic)">

		{% load static %}

		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=latin-ext" rel="stylesheet">

		{% load bootstrap4 %}

		{% bootstrap_css %}
		{% bootstrap_javascript jquery='full' %}

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>

	<body>
      {% if user.is_authenticated %}
				<div id="topbar-collapsed" style="display: flex;">
					<img id="icon-collapsed" src="{% static 'img/Tdetais.svg' %}" />
					<div id="description-collapsed" class="title-collapsed">
						<p>Visualização de Dados: Tais-Usuário</p>
					</div>

				 <div class="btn-group dropdown-group-bar">
				   <div class="btn-group">
				     <button type="button" class="btn btn-default dropdown-toggle buttons-time-list" data-toggle="dropdown">
							 <i class="fa fa-clock-o"></i>
				     </button>
				     <div class="dropdown-menu dropdown-menu-right">
							 <p id="subtitle-dropdown">Intervalo de Tempo</p>
				       <a class="dropdown-item" onclick="location.href='{% url 'today' %}'">Hoje</a>
				       <a class="dropdown-item" onclick="location.href='{% url '7_days' %}'">Últimos 7 dias</a>
				       <a class="dropdown-item" onclick="location.href='{% url 'last_month' %}'">Últimos 30 dias</a>
				       <a class="dropdown-item" onclick="location.href='{% url 'last_3_months' %}'">Últimos 90 dias</a>
				       <a class="dropdown-item" id="last-6">Últimos 6 meses</a>
				       <a class="dropdown-item" id="last-year">Último ano</a>
				     </div>
				   </div>

				   <div class="btn-group">
				     <button type="button" class="btn btn-default dropdown-toggle buttons-time-list" data-toggle="dropdown">
							 <i class="fa fa-th-list btn"></i>
				     </button>
						 <div class="dropdown-menu dropdown-menu-right">
							 <p id="subtitle-dropdown">Dashboards</p>
							 <a class="dropdown-item" onclick="location.href='{% url 'user_profile' %}'">Perfil de Usuário</a>
							 <div class="dropdown-divider"></div>
							 <a class="dropdown-item" onclick="location.href='{% url 'logout'  %}'">Sair</a>
						 </div>
				   </div>
				 </div>
				</div>
			{% endif %}
			{% block content %}
			{% endblock %}
	</body>
</html>
