HTML, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  background-size: cover;
  background-image: url("../img/background-kibana.png");
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

H1, H2{font-weight: bold;}

.dropdown-collapsed {
  background-color: transparent;
  border: none;
  color: white;
  border-color: white !important;
}

.dropdown-collapsed:hover {
  background-color: transparent;
}

.dropdown-collapsed:active {
  border: none;
}
.btn.focus, .btn:focus {
  box-shadow: none;
}

#subtitle-dropdown {
  margin-left: 10px;
  font-size: 12px;
  margin-bottom: 5px;
  color: #384356;
  font-weight: bold;
}
#topbar-collapsed {
  width: 100%;
  background: #384356;
  height: 45px;
}

#topbar-collapsed img {
  height: 88.8%;
}

#icon-collapsed {
  height: 45px;
  margin: 2.5px 0 0 5.75px;
}

#description-collapsed {
  margin: 11.5px;
}

#description-collapsed p {
  font-family: “Segoe UI”,Arial,Helvetica,sans-serif;
  color: white;
  font-weight: bold;
}
.jumbotron{
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #11998e, #38ef7d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  max-height: 27%;
  padding: 2% 20%;
}
.jumbotron .display-3{
  font-weight: bold;
}
.jumbotron H2{
  color: #222;
}
.jumbotron #avatar{
  float: left;
  margin-right: 48px;
  max-width: 200px;
}
.btn-subtitle{
	font-size:0.7em;
}

#btFeedback{
	margin-top: 24px;
	width: 200px;
}

#mainContainer{
  margin-bottom: 400px;/* to compensate for live chat area */
  clear: both;
}

#maintenance{
	text-align: center;
}

.container {
  background-color: #343741;
  position: relative;
  padding: 0;
  border-radius: 8px;
  display: flex;
  box-shadow:3px 3px 4px rgba(0, 0, 0, .3);
  width: 50%;
  height: 300px;
  margin: auto;
  overflow: hidden;
}

.tais-container {
  width: 50%;
  display: flex;
  text-align: center;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.tais-container img{
  margin: auto 0;
  width: 190px;
}

.tais-container p{
  margin: 0;
  font-family: “Segoe UI”,Arial,Helvetica,sans-serif;
  color: white;
}

.login-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#login-struct p {
  color: white;
  font-weight: bold;
}

/* Change autocomplete color */
input:-webkit-autofill,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="text"], input[type="password"]{
    background: transparent;
    border-color: white;
    color: white;
    font-style: italic;
    background-image: url("../img/icone_usuario.svg");
    background-repeat: no-repeat;
    background-size: 16.9px;
    background-position: 10px;
    padding-left: 36px;
    margin-bottom: 15px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  font-style: italic;
  color: white;
}

#login-submit {
  background-color: #f04e98;
  padding-top: 0;
  padding-bottom: 3;
  font-weight: bold;
  color: white;
  font-variant: small-caps;
  height: 30px;
  vertical-align: middle;
}

.form-group input{
  font-family: “Segoe UI”,Arial,Helvetica,sans-serif;
  font-size: 12px;
  height: 35px;
}

#email-login {
  background-image: url("../img/icone_usuario.svg");
  background-repeat: no-repeat;
  background-size: 16.9px;
  background-position: 10px;
  padding-left: 36px;
  margin-top: 30px;
  margin-bottom: 15px;
}

#email-login-error {
  background-image: url("../img/icone_usuario.svg");
  background-repeat: no-repeat;
  background-size: 16.9px;
  background-position: 10px;
  padding-left: 36px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.alert-error{
  display: block;
  margin: auto 0;
  text-align: center;
}

.alert-error img{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.alert-error strong{
  display: table-cell;
  vertical-align: bottom;
}
.message-error {
  color: #c95050;
  font-size: 12px;
}

.form-group input:last-child {
  background-image: url("../img/icone_chave.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 10px;
  padding-left: 36px;
}

HEADER P{
  font-size: 1.1em;
}

.nav-tabs{
  margin-top: 40px;
}
.nav-tabs .nav-link{
  font-size: 1em;
  color: #666;
}
.nav-tabs .nav-link.active {
  color: #11998e;
  font-size: 1.2em;
  font-weight: bold;
  background-color: transparent;
  border-bottom:3px solid #11998e;
  border-right: none;
  border-left: none;
  border-top: none;
}
.tab-pane{
  padding-top: 1em;
}
